<% include ../partials/header %>

<div class="container">
    <header class="hero">
        <h1>Newest Trade</h1>
        <p class="tagline">Books currently available for trade</p>
        <% if (currentUser) { %>
            <a class="btn btn-primary btn-lg" href="books/new">Create new trade.</a>
        <% } %>
    </header>
    
    <section>
        <div class="row book-display">
            <% books.forEach(function(book){ %>
                <div class="thumbnail book-snippet col-md-2 col-sm-4">
                    <div class="book-img-container">
                        <img class="img-responsive" src="<%= book.image %>">
                    </div>
                    <h4 class="caption"><%= book.title %></h4>
                    <p>
                        <a href="/books/<%= book._id %>" class="btn btn-info">More Info</a>
                    </p>
                </div><!--individual book div-->
            <% }); %>
            <div class="clearfix"></div>
        </div><!--row-->
    </section>
</div><!--container-->

<% include ../partials/footer %>