<% include ../partials/header %>

<div class="container">
    <header class="hero">
        <h1>Newest Trade</h1>
        <p class="tagline">Books currently available for trade</p>
        <% if (currentUser) { %>
            <p>
                <a class="btn btn-primary btn-large" href="books/new">Create new trade.</a>
            </p>
        <% } %>
    </header>
    
    <section class="book-display">
        <div class="row">
            <% books.forEach(function(book){ %>
                <div class="col-md-3 col-sm-6">
                    <div class="thumbnail">
                        <img src="<%= book.image %>">
                        <h4 class="caption"><%= book.title %></h4>
                        <p>
                            <a href="/books/<%= book._id %>" class="btn btn-info">More Info</a>
                        </p>
                    </div>
                </div><!--individual book div-->
            <% }); %>
        </div><!--row-->
    </section>
</div><!--container-->

<% include ../partials/footer %>